#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=DownloadGitHubRepo_dev
Exec=/home/deadwood/pinball/deadwood/github_dev.sh
Name=DownloadGitHubRepo_dev
Icon=gnome-panel-launcher
